.o-calendar__box__item {
  height: 30px;
  width: 100%;
  border: 1px solid #fff;
  background-color: #e8eff5;
  z-index: 2;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  color: #292929;
}

.o-calendar__box__item:hover {
  z-index: 11;
  border: 1px solid #b4b4b4;
}

.o-calendar__box__item__car-number {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.o-calendar__box__item__car-mark {
  font-size: 12px;
}

.o-calendar__box__item__times {
  font-size: 11px;
}

.o-calendar__box__item__inner__container {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.o-calendar__box__item__inner {
  display: flex;
  justify-content: center;
}
